/*****************************************************************************/
/*the basic style for all pages*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
:root{
    --main   : #2C3639;
    --second : #3F4E4F;
    --brown  : #A27B5C;
    --lightbr: #DCD7C9;
    --whit   : #ffffff;
    --black  : #000000; 
}
section{
    width: 100%;
    height: 100vh;
}
/*****************************************************************************/
/*navbar and logo*/
nav{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
nav *{
    display: inline; 
}
nav li{
    margin: 20px;
}
nav li a{
    color: var(--second);
    padding: 10px;
}
nav li a:hover{
    background-color: var(--second);
    color: var(--whit);
    border-radius: 15px;
    transition: background-color 1.0s ease;
}
.logo{
    height:80px;
    margin-left: 40px;
}
/*buttens*/
.btn{
    display: flex;
    margin-inline-start: auto;
}
button{
    cursor: pointer;
    border: 0;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px var(--main);
    transition: 0.5s;
}
.reg {
    color: var(--whit);
    background-color: var(--main);
  }
  .log {
    color: var(--brown);
    background-color: var(--whit);
    border: 1px solid var(--brown);
  }
  button:hover {
    color: white;
    box-shadow: 0 0 20px var(--main);
    background-color: var(--main);
    transition: background-color 1.0s ease;
  }
  nav .fa {
    display: none;
}
.hidenbtn{
    display: none;
}
/*****************************************************************************/

@media(max-width: 700px){
    nav .fa { 
        margin: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 
    nav li { 
        float: left;
        width: 100%;
        text-align: center;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: fixed;
        background: var(--lightbr); 
        height: 100vh; 
        width: 200px; 
        top: 0; 
        right: 0; 
        text-align: center;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: var(--second) ;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        float: right ;

    }
    nav a {
        display: block;
    }
    .logo{
        margin-left: 0px;
    }
    button{
        display: none;
    }
    .hidenbtn{
        display: block;
    }
    .hidenbtn li {
        border-radius: 15px;
    }
}
/*************************************************************/
.langing{
    overflow: hidden;
}

.obj{position: absolute;
    width: 550px;
    top: 40%;
    right: 3%;
    z-index: -10;
}
.circle {

    background: var(--second);
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: relative;
    top: 20%;
    right: -55px;
    z-index: -12;
}

   