/*****************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
/*the basic style for all pages*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
:root{
    --main   : #2C3639;
    --second : #3F4E4F;
    --brown  : #A27B5C;
    --lightbr: #DCD7C9;
    --whit   : #ffffff;
    --black  : #000000; 
}
section{
    width: 100%;
    height: 100vh;
    
}
/*****************************************************************************/
/*navbar and logo*/
nav{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
nav *{
    display: inline; 
}
nav li{
    margin: 20px;
}
nav li a{
    color: var(--main);
    padding: 10px;
}
nav li a:hover{
    background-color: var(--second);
    color: var(--whit);
    border-radius: 15px;
    transition: background-color 1.0s ease;
}
.logo{
    height:80px;
    margin-left: 40px;
}
/*buttens*/
.btn{
    display: flex;
    margin-inline-start: auto;
}
button{
    cursor: pointer;
    border: 0;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px var(--main);
    transition: 0.5s;
}
.reg {
    color: var(--whit);
    background-color: var(--main);
  }
  .log {
    color: var(--brown);
    background-color: var(--whit);
    border: 1px solid var(--brown);
  }
  button:hover {
    color: white;
    box-shadow: 0 0 20px var(--main);
    background-color: var(--main);
    transition: background-color 1.0s ease;
  }
  nav .fa {
    display: none;
}
.hidenbtn{
    display: none;
}
/*****************************************************************************/
/* navbar media */
@media(max-width: 700px){
    nav .fa { 
        margin: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 
    nav li { 
        float: left;
        width: 100%;
        text-align: center;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: fixed;
        background: var(--lightbr); 
        height: 100vh; 
        width: 200px; 
        top: 0; 
        right: 0; 
        text-align: center;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: var(--second) ;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        float: right ;

    }
    nav a {
        display: block;
    }
    .logo{
        margin-left: 0px;
    }
    button{
        display: none;
    }
    .hidenbtn{
        display: block;
    }
    .hidenbtn li {
        border-radius: 15px;
    }
}
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/* landing page / home page */
.langing{
    overflow: hidden;
}
.maintext{
    width:45%;
    position: relative;
    top: 40%;
    left: 10%;
    
}
.maintext h1{
    font-size: 60px;
    font-family: 'Holtwood One SC', serif;
    color: var(--brown);
}
.maintext p{
    font-size: 20px;
    font-family: 'Holtwood One SC', serif;
    color: var(--second);
}
.maintext form input{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 40px;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.maintext form button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: var(--brown);
    color: white;
}
.obj{
    position: absolute;
    width: 600px;
    top: 40%;
    right: 3%;
    z-index: -10;
}
.circle {
    background: var(--second);
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: relative;
    top: 20%;
    left: 62%;
    z-index: -12;
}
/*****************************************************************************/
/****/

/**/
.about{
    background-image: url(/imgs/packging.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutbox{
    margin: auto;
    width: 50%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #ffffff;
    top: 15%;
    left: 20%;
    position: relative;
}
.aboutbox div{
    width: 90%;
    position: relative;
    left: 5%;
    top: 20%;
    float: left;
}
.aboutbox div h2{
    padding: 12px;
    color: #fff;
   background-color:var(--main);
    border-radius: 12px;
    width: fit-content;
    margin: 10px;
}
.aboutbox div p{
    margin-top: 20px;
    font-size: 20px;
}
/***********************************************************************/
.services{
    text-align: center;
} 
h4 {
    margin-top: 30px;
    font-size: 50px;
    color: var(--brown);
}
.container {
    display: grid;
    max-width: 1200px;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    grid-auto-rows: 300px;
    text-align: center;
    margin: 5% auto;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--whit);
 background-color: var(--lightbr);
 border-radius: 15px;
 padding: 10px;
}

  .container > div:nth-child(2n) {
    background-image: url(/imgs/packging.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/**********************************************/


form {
	min-width: 25rem;
	
	.title {
		font-family: 'Pacifico', cursive;
		color: #212529;
		font-size: 2.5rem;
	}
	
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: .5rem 1.8rem;
	}
	
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,
  textarea {
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
	
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}
/*********************************************************/
footer{
    height: 50px;
    text-align: center;
    background-color: var(--lightbr);
    color: #000;
}