*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --main   : #2C3639;
    --second : #3F4E4F;
    --brown  : #A27B5C;
    --lightbr: #DCD7C9;
    --whit   : #ffffff;
    --black  : #000000; 
}
section{
    width: 100%;
    height: 100vh;
}